.navbar {
    display: flex;
    justify-content: flex-start;
    padding: 20px 5%;
    background-color: grey;
    .logo {
        margin-right: 10%;
    }
    .menu {
        display: flex;
        gap: 25px;
    }
    a {
        color: black;
        text-decoration: none;
        &.active {
            color: white;
        }
        &:hover {
            color: white;
        }
    }
}